.navbar-dark {
  background-color: #512DA8;
  margin-bottom: 3vh;
}

.card .homecard {
  background-color: #b288fc;
}
.card-img-top {
  padding: 20px;
}

.border {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pink {
  color:#a573ff
}

.list-group-item {
  cursor: pointer;
}